

.App{

  margin: 0;
  box-sizing: border-box;
  padding:0;
/* background-image: linear-gradient(to right, rgb(203, 208, 239), rgb(118, 217, 239)); */

height:100vh;
width: 100vw;
position: relative;
overflow-x: hidden;

}

.app-head
{
 
  position:absolute;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgba(179, 151, 234, 0.303);
  border-radius: 1vw ;
  border-bottom: 3px solid rgba(78, 5, 59, 0.616);


  color: rgb(156, 40, 219);
  margin-top: 2vw;
  width: 50vw;
  text-align: center;
 left: 25vw;





}



.random-div 
{
 position:absolute;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
  width:50vw;
  height: 30vw;
  background-color: rgba(103, 117, 195, 0.642);
  justify-content: center;
  left: 25vw;
  top: 10vw;

  border-radius: 2vw;
  border: 2px solid rgb(66, 7, 7);

  box-shadow: 4px 3px 5px rgb(13, 38, 177);
  border-bottom: none;
  border-right: none;

  gap: 3vw;
 
}


.random-div img
{


  width: 40vw;
  height: 20vw;
  border: 2px solid rgb(217, 255, 0);
  border-radius: 1vw;
  background-size: cover;
}


.Tag
{


  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
   width:50vw;
   height: 30vw;
   background-color: rgba(103, 117, 195, 0.642);
   justify-content: center;
   left: 25vw;
   top:43vw;
   margin-top: 10px;
 
   border-radius: 2vw;
   border: 2px solid rgb(66, 7, 7);
 
   box-shadow: 4px 3px 5px rgb(13, 38, 177);
   border-bottom: none;
   border-right: none;
 
   gap: 0.7vw;
   

}


 .Tag img

 {

  


  width: 40vw;
  height: 20vw;
  border: 2px solid rgb(217, 255, 0);
  border-radius: 1vw;
  background-size: cover;

 }

 

 .button
 {

  display: flex;
  gap: 3vw;
  align-items: center;
  padding:1vw;

 }

 .Tag input
 {
  appearance: none;
  font-size: 1vw;
  text-align: center;
  height: 2vw;
  border-radius: 1vw;
  background-color: crimson;
  color: white;
  outline: none;
  border:none;

 }
 .Tag input::placeholder
 {

  color: white;
  opacity: 0.4;
 }

 .btn{

  appearance: none;
  background-color: crimson;
  color:white;
  font-size: 1.3vw;
  border-radius: 1vw;
  border: none;
 padding: 0.7vw;
  
  
 }


 .tag-head
 {
  font-size: 1.5vw;
  color: rgb(73, 46, 46);
  font-family: sans-serif;

 }


 @media(width<=800px) {


.gif-box
{
  position: absolute;
  top: 15vw;
  background-color: yellow;
  display: flex;
gap: 3vw;

}


 }
 @media(width<=500px) {


.gif-box
{
  position: absolute;
  top: 25vw;
  background-color: yellow;
  display: flex;
gap: 3vw;

}

.random-div
{

  width: 70vw;
  height: 40vw;
  left:15vw;
  font-size: 8vw;
}

.Tag
{
  width: 70vw;
  height: 40vw;
  left: 15vw;
  top:60vw;
  


}

.btn
{
  font-size: 3vw;
}

.button input{

  font-size: 3vw;
  height: 3vw;


};





 }


 



